<style>

h1 {
  color: green;
  text-align: center;
}
p {
width: 400px;
 margin: auto;
  font-style: italic;
  text-align: center;
}

h3{
text-align: center;
}

img {
	display: block;
  margin: auto;
  width: 300px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}

</style>
